CHANGE MASTER TO MASTER_HOST='{{ hostvars[groups['master'][0]].private_ip }}',MASTER_USER='{{ replica_user }}',MASTER_PASSWORD='{{ mysql_root_pass }}',MASTER_LOG_FILE='mysql-bin.000001',MASTER_LOG_POS=107;
START SLAVE;