CHANGE MASTER TO MASTER_HOST='{{ hostvars[groups['master'][0]].private_ip }}',MASTER_USER='{{ replica_user }}',MASTER_PASSWORD='{{ replica_password }}',MASTER_LOG_FILE='mysql-bin.000001';
START SLAVE;